{% set intro = g.site_intro_text %}

{% block home_image %}
  <div class="module-promotion hero-image" id="hero-banner">
    <div class="hero-content text-center">
      {% if intro %}
        <div class="hero-text">
          {{ h.render_markdown(intro) }}
        </div>
      {% else %}
        <h1 class="page-heading">{{ _("Welcome to VUSTA Open Data") }}</h1>
        <p>
          {{ _("Welcome to the Open Data Portal of the Vietnam Union of Science and Technology Associations (VUSTA), which provides publicly available data on VUSTA's activities.") }}
        </p>
      {% endif %}
      <div class="search-wrapper">
        {% set tags = h.get_facet_items_dict('tags', search_facets, limit=3) %}
        {% set placeholder = _('Search datasets...') %}
        {% set dataset_type = h.default_package_type() %}
        <form class="search-form" method="get" action="{% url_for dataset_type ~ '.search' %}">
          <input aria-label="{{ h.humanize_entity_type('package', dataset_type, 'search placeholder') or _('Search datasets') }}" id="field-main-search" type="text" class="form-control" name="q" value="" autocomplete="off" placeholder="{{ placeholder }}" />
          <button class="btn" type="submit" aria-label="{{ _('Search') }}">
            {{ _('Search') }}
          </button>
        </form>
        {% if tags %}
        <div class="tags">
          <h4>{{ _('Popular tags') }}</h4>
          {% for tag in tags %}
            <a class="tag" href="{% url_for 'dataset.search', tags=tag.name %}" aria-label="{{ _('Search datasets with the tag: {tag}').format(tag=tag.display_name) }}"> {{ tag.display_name|truncate(22) }}</a>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
    <div class="hero-overlay"></div>
  </div>
{% endblock %}
