apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: solr-pvc
  namespace: ckan
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: local # Change to your storage class

