apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: solr-pvc
  namespace: ckan
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 5Gi
  storageClassName: nfs-client

