{% ckan_extends %}

{% block footer_content %}
<footer class="site-footer">
  <div class="container">
    {# OGP Logo #}
    <div class="row">
      <div class="col-md-12 text-center footer-logo">
        <a href="https://open.gov.sg" aria-label="OGP homepage" target="_blank" rel="noopener">
          <span class="ogp-text">Open Government Products</span>
        </a>
      </div>
    </div>

    {# Footer Links #}
    <div class="row footer-links">
      <div class="col-md-12 text-center">
        <ul class="list-inline">
          <li>
            <a href="#" class="footer-link">{{ _('Feedback') }}</a>
          </li>
          <li>
            <a href="#" class="footer-link">{{ _('Open Data Licence') }}</a>
          </li>
          <li>
            <a href="#" class="footer-link">{{ _('Privacy & Terms') }}</a>
          </li>
        </ul>
      </div>
    </div>

    {# Copyright #}
    <div class="row">
      <div class="col-md-12 text-center footer-copyright">
        <p class="prose-legal">
          &copy; 2025 {{ _('Open Government Products') }}
        </p>
      </div>
    </div>
  </div>
</footer>
{% endblock %}

